.page {
  font-family: 'Helvetica', sans-serif;
  color: #333;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

/*header*/
.header {
  background-color: #2B2D42;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header__title {
  font-size: 2.5em;
  margin: 0;
}

.header__nav {
  margin: 20px 0;
}

.nav__list {
  list-style: none;
  padding: 0;
}

.nav__item {
  display: inline;
  margin-right: 15px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

.nav__link:hover {
  text-decoration: underline;
}

.header__logo {
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.header__socials {
  margin-top: 15px;
}

.header__social-icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  filter: brightness(0) invert(1);
}

.header__social-icon:hover {
  filter: brightness(0.5) invert(0.8);
}

/*main*/
.main {
  padding: 40px;
  text-align: center;
}

/*index.html*/
.works__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.works__item {
  margin: 10px;
}

.works__image {
  border-radius: 15px;
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.works__image:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/*contacts.html*/
.contacts__title {
  font-size: 2em;
  margin-bottom: 20px;
}

.contacts__form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacts__form-group {
  margin-bottom: 15px;
}

.contacts__label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contacts__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacts__submit {
  background-color: #1c1b29;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contacts__submit:hover {
  background-color: #333;
}

/* about.html */
.about {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about__title {
  font-size: 2em;
  margin-bottom: 20px;
}

.about__text {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*footer*/
.footer {
  background-color: #1c1b29;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer__text {
  margin: 0;
}
